#app{
  display:flex;
}

body{
  background-color: #FCFCFC;
  font-family: 'Space Mono', monospace;
  display:flex;
  justify-content: center;
}

section{
  width: 66%;
}

header{
  margin-right: 40px;
}

ul{
  padding: 0px;
  margin: 0px;
}

li{
  list-style-type: none;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: black;
}

.selected{
  color: gold;
}

#name{
  font-size: 1.25em;
  font-weight: bold;
}

#selfie{
  width: 100%;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}