/* mobile friendly first  */
:root {
  --primary-color: steelBlue;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  display:flex;
  justify-content: center;
}

#app{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

#header{
  background-color:#222;
  width: 100%;
  margin-bottom: 20px;
}

#main{
  width: 80%;
}

ul{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
}

li{
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 5px 0;
  list-style-type: none;
  width: 100%;
}

li:hover{
  background-color:white;
  color:#222
}

a{
  text-decoration: none;
  color: white;
}

.bio a {
  color: var(--primary-color);
}

.selected{
  color: var(--primary-color)!important;
  font-weight: bolder;
}

#selfie{
  width: 100%;
}

#name{
  font-size: 1.25em;
  font-weight: bold;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

hr{
  margin-top: 20px;
}

.bio div{
  margin-top: 20px;
  line-height: 1.6;
}

.video-description{
  margin-top: 20px;
  font-weight: bold;
}


@media screen and (min-width: 568px) and (max-width: 899px) {
  #root{
    width: 80%;
  }

  #header{
    background-color: white;
  }

  a{
    text-decoration: none;
    color: black;
  }

  #sub-nav{
    display: flex;
    justify-content: space-around;
  }

  li:hover{
    background-color:unset;
    color: unset;
  }

}



@media screen and (min-width: 900px){
  /* the rule sets for bigger screens */
  #root{
    width: 80%;
    max-width: 800px;
  }

  #app{
    display: flex;
    flex-direction: row;
    align-items: unset;
    margin-top: 40px;
  }

  #header{
    width:unset;
    background-color: unset;
    margin-right: 40px;
  }

  li{
    list-style-type: none;
    margin-right: 20px;
  }

  li:hover{
    background-color:unset;
    color: unset;
  }

  a{
    color: black;
  }

}